@using website.Helpers;
@{
    ViewBag.Title = "DayBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box">
    <h1>Daybook</h1>

    <div class="form-horizontal">
        <div class="form-group">


            @{
                if (ViewBag.RoleName == @ApplicationRole.Admin)
                {
                    <label class="control-label col-md-2">Branch Name</label>
                    <div class="col-md-3">
                        <select class="form-control" id="selectBranch">
                            <option value="0">Select</option>
                            @foreach (var item in ViewBag.BranchList)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <input type="hidden" id="selectBranch" value="@ViewBag.Branch" />
                    </div>
                }
            }

            <div id="frmPaymentType">
                <label class="control-label col-md-2">Paid By</label>
                <div class="col-md-3">
                    <select class="form-control" id="PaymentType">
                        <option value="0">Select</option>
                        <option value="@PaymentType.CASH">@PaymentType.CASH</option>
                        <option value="@PaymentType.GPAY">@PaymentType.GPAY</option>
                        <option value="@PaymentType.PhonePay">@PaymentType.PhonePay</option>
                        <option value="@PaymentType.PayTM">@PaymentType.PayTM</option>
                        <option value="@PaymentType.WhatsAppPay">@PaymentType.WhatsAppPay</option>
                    </select>
                </div>
                <button class="btn btn-primary" id="btnSubmit">Submit</button>
            </div>
        </div>

    </div>
    <p>
        Date: @( DateTime.Now.ToString("dd-MM-yyyy"))
    </p>
    <div id="dtDaybook">

    </div>

    <div class="modal fade" id="PaymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>


</div>

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#frmPaymentType").attr("style", "display:none");
            var selectedIds = [];
            getDayBook();

            $("#selectBranch").on("change", function ()
            {
                var branchId =  $(this).val();
                $.ajax({
                    url: "@(website.Helpers.APIPath.Api_Path)CustomerEMIs/GetDaybookData?branchId="+branchId,
                    type: "get", //send it through get method
                    success: function (response) {
                        $("#dtDaybook").empty();
                        $("#dtDaybook").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        alert(xhr);
                    }
                });

            });

            $('#dtDaybook').on('click', '#checkAll', function () {
                const isChecked = $(this).prop('checked');
                $('.checkbox').prop('checked', isChecked);

                if (isChecked == true) {
                    $('.checkbox:checked').each(function () {
                        selectedIds.push(parseInt($(this).val()));
                    });
                } else {
                    $('.checkbox').each(function () {
                        var checkboxValue = parseInt($(this).val());
                        var isChecked = $(this).prop('checked');

                        // Check if the checkbox is unchecked and the value is present in the array
                        if (!isChecked && selectedIds.includes(checkboxValue)) {
                            var indexToRemove = selectedIds.indexOf(checkboxValue);
                            selectedIds.splice(indexToRemove, 1);
                        }
                    });
                }
                toggleSubmitButton(isChecked);
            });

            $('#dtDaybook').on('click',".checkbox", function () {
                const isChecked = $(this).prop('checked');
                const value = parseInt($(this).val());

                if (isChecked) {
                    selectedIds.push(value);
                } else {
                    const index = $.inArray(value, selectedIds);
                    if (index !== -1) {
                        selectedIds.splice(index, 1);
                    }
                }

                toggleSubmitButton(isChecked);
            });

            $('#btnSubmit').on('click', function (e) {
                debugger;
                e.preventDefault();
                const paidBy = $('#PaymentType').val();

                if (paidBy != null) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SaveSelectedItems", "CustomerEMIs")',
                        data: { selectedIds: selectedIds, paidBy: paidBy },
                        success: function (data) {
                            alert(data);
                            window.location.reload();
                        },
                        error: function () {
                            alert('Error occurred while saving data.');
                        }
                    });
                } else {
                    alert("Please select payment type.");
                }
            });

            $("#PaymentModal").on("click", "#btnSubmit", function ()
            {
                var id = $("#Id").val();
                var loanNo = $("#loanNo").val();
                var paiderName = $("#paiderName").val();
                var paymentType = $("#paymentType").val();
                var amount = $("#amount").val();

                if (parseInt(paymentType) != 0) {
                var loanData = {};
                loanData.id = id;
                loanData.loanNo = loanNo;
                loanData.paiderName = paiderName;
                loanData.paidBy = paymentType;
                loanData.amountCollected = amount;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SubmitCustomPayment", "CustomerEMIs")',
                    data: { loanData: loanData },
                    success: function (data) {
                        alert(data);
                        window.location.reload();
                    },
                    error: function () {
                        alert('Error occurred while saving data.');
                    }
                });
                } else {
                    alert('Please select payment type.');
                }

            });


            function toggleSubmitButton(isChecked) {
                if (isChecked) {

                    $("#frmPaymentType").removeAttr("style");
                } else {
                    if (selectedIds.length == 0) {
                        $("#frmPaymentType").attr("style", "display:none");
                    }
                    else {
                        $("#frmPaymentType").removeAttr("style");
                    }
                }
            }


        });

        function getDayBook()
        {
            var branchId =  $("#selectBranch").val();
                $.ajax({
                    url: "@(website.Helpers.APIPath.Api_Path)CustomerEMIs/GetDaybookData?branchId="+branchId,
                    type: "get",
                    success: function (response) {
                        $("#dtDaybook").empty();
                        $("#dtDaybook").html(response);
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            }

        function GetPayment(id) {
            debugger;
             $.ajax({
                    url: "@(website.Helpers.APIPath.Api_Path)CustomerEMIs/OtherWayForPayment?id="+id,
                    type: "get", //send it through get method
                 success: function (response) {
                        $("#PaymentModal").empty();
                         $("#PaymentModal").html(response);
                         $("#PaymentModal").modal("show");

                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        alert(xhr);
                    }
                });
        }

        function GetPaymentDetails(id) {
            $.ajax({
                url: "@(website.Helpers.APIPath.Api_Path)CustomerEMIs/OtherWayForPayment?id=" + id,
                type: "get",
                dataType: "html",
                success: function (response) {
                            //$("#PaymentModal").empty();
                            $("#PaymentModal").html(response);
                            $("#PaymentModal").modal("show");
                            $("#PaymentModal #btnSubmit").attr("style", "display:none;")
                            $("#PaymentModal #txtTitle").text("Payment Details");

                             $("#PaymentModal #RepaymentDate").prop("disabled","disabled");
                    $("#PaymentModal #paiderName").prop("disabled", "disabled");
                    $("#PaymentModal #paymentType").prop("disabled", "disabled");
                    $("#PaymentModal #amount").prop("disabled", "disabled");


                },
                error: function (xhr) {
                    console.error("Error occurred during AJAX call:", xhr);
                }
            });
        }
    </script>

}
