@model IEnumerable<website.Dto.CustomerLoanManagerDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Customer
        </th>
        <th>
            Branch
        </th>
        <th>
            Loan Amount
        </th>
        <th>
            Loan & intrest
        </th>
        <th>
            No of Days
        </th>
        <th>
            Intrest (%)
        </th>
        <th>
            EMI
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionAmountDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanNetAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanIntrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanEMI)
            </td>
            <td>
                @Html.ActionLink("Show loan card", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
