@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var UserId = 0;
    var AddressId = 0;
    if (@ViewBag.UserId != null) { UserId = Convert.ToInt32(ViewBag.UserId); }
}




<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Employee Registration
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Employee</a></li>
        <li class="active">Employee Registration</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <br />
        <br />
        <input type="hidden" value="@(UserId)" id="UserId" />
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-pills">
                        <li><button id="btnPDForm" class="btn btn-primary btn-outline-primary">Personal Details</button></li>
                        <li><button id="btnAddress" class="btn btn-outline-primary" @(UserId > 0 ? "" : "disabled")>Address Details</button></li>
                        <li><button id="btnDocumention" class="btn btn-outline-primary" @(UserId > 0 ? "" : "disabled")>Documentation</button></li>
                        <li><button id="btnAccountDetails" class="btn btn-outline-primary" @(UserId > 0 ? "" : "disabled")>Account Details</button></li>
                    </ul>
                </div>
            </div>
            <div id="customerForm">
            </div>
        </section>

    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
             showCustomerRegistion();

            $("#btnPDForm").click(function () {
                $.ajax({
                    url: "@Url.Action("CreateRegister", "Employee", new { id = @UserId })",
                    type: "get", //send it through get method
                    success: function (response) {
                        $("#btnDocumention").removeClass("btn-primary");
                        $("#btnAddress").removeClass("btn-primary");
                        $("#btnAccountDetails").removeClass("btn-primary");
                        $("#btnPDForm").addClass("btn-primary");
                        $("#customerForm").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        alert(xhr);
                    }
                });
            });

            $("#btnAddress").click(function () {
                $.ajax({
                    url: "@Url.Action("CreateAddressDetails", "Employee", new { userId=UserId })",
                    type: "get", //send it through get method
                    success: function (response) {
                        $("#btnDocumention").removeClass("btn-primary");
                        $("#btnAccountDetails").removeClass("btn-primary");
                        $("#btnPDForm").removeClass("btn-primary");
                        $("#btnAddress").addClass("btn-primary");

                        $("#customerForm").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        alert(xhr);
                    }
                });
            });

            $("#btnDocumention").click(function () {
                $.ajax({
                    url: "@Url.Action("CreateDocumentation", "Employee", new { userId=UserId })",
                    type: "get", //send it through get method
                    success: function (response) {
                        $("#btnPDForm").removeClass("btn-primary");
                        $("#btnAddress").removeClass("btn-primary");
                        $("#btnDocumention").addClass("btn-primary");
                        $("#btnAccountDetails").removeClass("btn-primary");

                        $("#customerForm").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        alert(xhr);
                    }
                });

            });

            $("#btnAccountDetails").click(function () {
                $.ajax({
                    url: "@Url.Action("CreateAccountDetails", "Employee", new { userId=UserId })",
                    type: "get", //send it through get method
                    success: function (response) {
                        $("#btnPDForm").removeClass("btn-primary");
                        $("#btnAddress").removeClass("btn-primary");
                        $("#btnDocumention").removeClass("btn-primary");
                        $("#btnAccountDetails").addClass("btn-primary");

                        $("#customerForm").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                        alert(xhr);
                    }
                });
            });

            $("#customerForm").on("click", ".clsImage", function () {
                $("#customerForm #clsImageFocas").modal("show");
                $("#clsImageFocas img").attr("src", this.src);
                $("#clsImageFocas #ImageName").text(this.title);
            });

            $('#isAgeSelected').click(function () {
                $("#txtAge").toggle(this.checked);
            });

            $("#customerForm").on("click", "#btnEmployeeSave", function () {
                debugger;
                var id = $("#Id").val();
                var firstName = $("#firstName").val();
                var middleName = $("#middleName").val();
                var lastName = $("#lastName").val();
                var gender = $("#ddlGender").find(":selected").text();
                var birthDate = $("#birthDate").val();
                var mobileNo = $("#mobileNo").val();
                var whatsAppNo = $("#whatsAppNo").val();
                var emailId = $("#emailId").val();
                var branchId = $("#BranchId").find(":selected").val();
                var employeeTitle = $("#employeeTitle").val();
                var employeeSalary = $("#salary").val();

                var isActive = false;
                if ($('#chkIsActive').prop('checked')) {
                    isActive = true;
                } else {
                    // something else when not
                    isActive = false;
                }

                // Create a JSON object to send the data
                var data = {
                    Id:id,
                    FirstName: firstName,
                    MiddleName: middleName,
                    LastName: lastName,
                    Gender: gender,
                    DateOfBirth: birthDate,
                    MobileNo: mobileNo,
                    WhatsAppNo: whatsAppNo,
                    EmailId: emailId,
                    BranchId: branchId,
                    IsActive: isActive,
                    EmployeeTitle: employeeTitle,
                    EmployeeSalary: employeeSalary
                };
                if (!frm1Validation(data)) {

                    // Perform the AJAX POST request
                    $.ajax({
                        url: '/Employee/CreateRegister',
                        type: 'POST',
                        data: data,
                        success: function (response) {
                            // Handle the response from the server
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            // Handle errors
                            console.error(error);
                        }
                    });
                } else {
                    alert("Failed")
                }
            });

            $("#customerForm").on("click", "#btnAddressSave", function () {

            });

            $("#customerForm").on("click", "#btnDocumentSave", function () {

            });

        });



        function showCustomerRegistion() {
            $.get("@Url.Action("CreateRegister", "Employee", new { id = @UserId })", function (data) {
                $("#customerForm").html(data);
            });
        }

        function frm1Validation(data)
        {
            let error=[];
            if (data.FirstName == "" || data.FirstName == null || data.FirstName == undefined) {
                $("#errFName").text("Please enter first name.");
                error["firstName"] = true;
            } else {
                $("#errFName").text("");
                error["firstName"] = false;
            }

            if (data.MiddleName == "" || data.MiddleName == null || data.MiddleName == undefined) {
                $("#errMName").text("Please enter middle name.");
                error["middleName"] = true;
            } else {
                $("#errMName").text("");
                error["middleName"] = false;
            }

            if (data.LastName == "" || data.LastName == null || data.LastName == undefined) {
                $("#errLName").text("Please enter last name.");
                error["lastName"] = true;
            } else {
                $("#errLName").text("");
                error["lastName"] = false;
            }

            if (data.Gender == "" || data.Gender == null || data.Gender == undefined) {
                $("#errGender").text("Please select gender.");
                error["Gender"] = true;
            } else {
                $("#errGender").text("");
                error["Gender"] = false;
            }

            if (data.birthDate == "" || data.birthDate == null || data.birthDate == undefined) {
                $("#errbirthDate").text("Please enter birthdate.");
                error["BirthDate"] = true;
            } else {
                $("#errbirthDate").text("");
                error["BirthDate"] = false;
            }

            if (data.mobileNo == "" || data.mobileNo == null || data.mobileNo == undefined) {
                $("#errMobileNo").text("Please enter mobile no.");
                error["MobileNo"] = true;
            } else {
                $("#errMobileNo").text("");
                error["MobileNo"] = false;
            }

            if (data.emailId == "" || data.emailId == null || data.mobileNo == undefined) {
                $("#errEmailId").text("Please enter email.");
                error["EmailId"] = true;
            } else {
                $("#errEmailId").text("");
                error["EmailId"] = false;
            }


            if (error["firstName"] == true || error["middleName"] == true ||
                error["lastName"] == true || error["Gender"] == true ||
                error["BirthDate"] == true || error["MobileNo"] == true ||
                error["EmailId"] == true) {
                return true;
            }
            return false;
        }

    </script>

}