@model website.Models.CompanyBranchDetail

@{
    ViewBag.Title = "CreateBranch";
}

<style>
    textarea {
        resize: none;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">@( Model == null ? "Edit Branch" : "Create Branch" ) </h3>

                    @{
                        if (@TempData["Success"] != null)
                        {
                            <script type="text/javascript">
                                alert("@TempData["Error"]");
                            </script>

                        }

                        if (@TempData["Error"] != null)
                        {
                            <script type="text/javascript">
                                alert(""@TempData["Error"]");
                            </script>
                        }
                    }


                </div>
                <div class="box-body">
                    @using (Html.BeginForm("CreateBranch", "Branch", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SubTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SubTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SubTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="Description">Certificate</label>
                                <div class="col-md-6">
                                    <input type="file" name="files" id="fileCerti" />
                                    @*@Html.ValidationMessageFor(model => model.Certificate, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="Description">Company Logo</label>
                                <div class="col-md-6">
                                    <input type="file" name="files" id="fileLogo" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="Description">Company RegisterDate</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CompanyRegisterDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyRegisterDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="Description">Is Activated</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.IsActivated, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IsActivated, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2" for="Description"> Branch Type</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.CompanyBranchType, new List<SelectListItem>()
                                   {
                                       new SelectListItem(){ Text= "MainBranch", Value = "MainBranch"},
                                       new SelectListItem(){ Text= "SubBranch", Value = "SubBranch"},
                                   }, "Select Branch", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CompanyBranchType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                    <a href="##" class="btn btn-success" onClick="history.go(-1); return false;"> Back</a>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</section>